*

!.zshrc
!.zshenv
!.startup.sh
!.p10k.zsh
!.profile
!.oh-my-zsh

.config/thefuck/
.config/nvim/
.config/kicad/
.config/kitty/
.config/gh/
.config/NvChad/

!.gitconfig
!.gitignore


!ansible.cfg
!bootstrap.yml
!install
!requirements.yml
!roles/
