Cypress
Surfshark
Unknown*
Windscribe
autostart
cef_user_data
dconf
discord
enchant
eog
evolution
geary
gh
gnome-session
goa-1.0
google-chrome
gtk*
htop
ibus
jgit
menus
neofetch
pop*
procps*
pulse
nvim.bak
systemd
thefuck
totem
touchegg
.gsd*
gnome*
mime*
monitors*
user-dirs*
ghc
gedit
nautilus
via*
yarn
Mongo*
Postman*
NvChad
tabtab
